html, body, .centered-container {
    height: 100%;
}

body {
    background-color: #0d1117;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    width: 20%;
}

button {
    float: right;
}