RewriteEngine ON
RewriteBase /


# Oculta los archivos del Modelo Vista Controlador (MVC)
RewriteRule ^View/ - [F]
RewriteRule ^Controller/ - [F]
RewriteRule ^Model - [F]
RewriteRule ^Database/ - [F]
RewriteRule ^Repository/ - [F]
RewriteRule ^Utils/ - [F]

# Redirección en caso de errores
ErrorDocument 404 /Error/404.php
ErrorDocument 403 /Error/403.php

RewriteCond %{ENV:REDIRECT_STATUS} ^$
##using THE_REQUEST variable for condition check.
RewriteCond %{THE_REQUEST} \s/([^.]*)\.php/?\s [NC]
##Performing external redirect here.
RewriteRule ^  %1? [R=301,L]

##Performing rewrite for non-existing pages.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.*)/?$ /$1.php [QSA,L]